#root {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .navbar {
    flex: 0 0 auto;
    .container {
      padding: 10px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        img {
          width: 120px;
        }
      }
      .links {
        display: flex;
        align-items: center;
        gap: 10px;

        .dropdown {
          position: relative;
          display: inline-block;
        }

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 100;

          a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
          }
        }

        .dropdown:hover .dropdown-content {
          display: block;
        }

        h6 {
          font-size: 16px;
          font-weight: 300;
        }

        span {
          cursor: pointer;
        }

        .home {
          background-color: #b9e7e7;
          width: 75px;
          height: 75px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 300;
          border: 1px solid white;

          &:hover {
            color: teal;
            background-color: white;
            border: 1px solid teal;
          }
        }
      }
    }
  }

  .content {
    flex: 1 1 auto;
    display: flex;

    .sidebar {
      flex: 0 0 auto;
      width: 100px;
      background-color: #333;
      color: white;
      padding: 20px;
      height: 100vh;

      .container {
        flex: 1;
        padding: 10px;
      }

      .links {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;

        h6 {
          font-size: 16px;
          font-weight: 300;
          color: white;
        }

        span {
          cursor: pointer;
        }
      }
    }

    .main {
      flex: 1 1 auto;

      .league-page {
        display: flex; // Use flexbox to lay out sidebar and content side by side
        flex: 1 1 auto;
        height: 100vh; // Make sure the league-page takes up the full viewport height
      
        .sidebar {
          width: 200px; // Adjust the width as needed
          flex-shrink: 0; // Prevent the sidebar from shrinking
        }
      
        .league-content {
          flex: 1; // Take up the remaining space
          padding: 20px; // Optional: add padding to the content
          overflow-y: auto; // Optional: enable scrolling for content overflow
        }
      }
      

      .main-container {
        padding: 20px;
        flex: 1;
        overflow-y: auto;

        .game-container {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;

          .team-button {
            flex: 1;
            margin: 0 10px;
            padding: 10px;
            border: 1px solid white;
            text-align: center;

            &.selected {
              background-color: teal;
              color: white;
            }

            &:hover {
              color: teal;
              background-color: white;
              border: 1px solid teal;
            }

            .team-name {
              font-size: 1.5em; // Larger font size
              font-weight: bold;
            }

            .open-spread {
              font-size: 0.8em; // Smaller font size
              color: gray;
            }

            .curr-spread {
              font-size: 1.2em; // Distinct font size
              color: teal;
            }
          }
        }
      }
    }
  }
}
